*{
    box-sizing: border-box;
}
body{
    font-family: Microsoft YaHei,Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.clearfix{
    overflow: auto;
    zoom: 1;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
.manping{
    position: relative;
    height: 100%;
    margin-bottom: -100px;
}